.header{
	position:fixed;top:0;width:100%;
	 z-index: 1001;@include transition(all 0.3s);  
	 .navbar-nav{
			.nav-item{ 
					margin-right:55px;    
				.nav-link{
                   font-size:17px;font-family:font(md);padding: 0;
                   color:color(600);
				   @include transition(0.3s);
				   text-transform: uppercase;
                   i{
                   	font-size:20px;margin-right: 7px; 
                   	display: inline-block;vertical-align: text-top; 
                   }
                   &:hover,&.active{
                   	color:color(700);  
                   }
				}
			}
		}
	
	.navbar{
		padding: 17px 160px 17px 20px; 
		background-color: color(50);
	}

	.navbar-brand{
		padding: 0;
		img{height: 46px;@include transition(all 0.3s);}
		.blackLogo{
			display:none;
		}
	}

	.navbarCart{
		background-color: color(500);
		position: absolute;
		right: 0;
		height: 100%;
		top: 0;
		padding: 24px 36px 24px 24px;
		font-family: font(sb);
		&_icon{
			margin-right: 14px;
		}
		&_count{
			font-size: 11px;
			text-transform: uppercase;
		}
		&_price{
			font-size: 17px;
		}
	}

	&.smallHeader{
		background-color: color(50); 
		@include box-shadow(0,3px,20px,rgba(color(900),0.1)); 
		.navbar-brand{
			img{height: 35px;}
			.blackLogo{
				display:block;
			}
			.whiteLogo{
				display:none;
			}
		}
		.navbar-nav{
			.nav-item{
				.nav-link{
					color:color(900);
				}
			}
		}
	} 


  @media(max-width:1399px){
  	.navbar-brand{
		img{height: 42px;}
	}

  }
  @include media-breakpoint-down(lg){
  	.navbar-brand{
		img{height: 36px;}
	}
	.navbarCart{
		padding: 0 24px 0 24px;
	}
	.navbar-nav{
		.nav-item{
			margin-right: 40px;
			.nav-link{
				font-size: 14px;
			}
		}
	}

  }

}

// overlay div