.amountModal{
    .icon-group{
        i{top: 16px;font-size: 20px;left: 20px;}
        .form-control{padding-left: 55px;}
    }
    @media (max-width: 1599px){
        .icon-group{
            i{top: 13px;left: 15px;}
            .form-control{padding-left: 47px;}
        }
    }
    @include media-breakpoint-down(md){
        .icon-group{
            i{top: 12px;font-size: 16px;}
            .form-control{padding-left: 42px;}
        }
    }
}