.commonModal{
    .modal-dialog{
        margin: 15px;min-height: calc(100% - 30px);border-radius: 20px; overflow: hidden;
        @include media-breakpoint-up(sm) {
            margin: 15px auto;
            &.modal-sm{max-width: 420px;}
        }
    }
    .modal-lg{max-width: 1040px;}
    &__title{font-size: 22px;margin-bottom: 40px;}
	.modal-content{
		border: 0;
		.modal-header {
            border: 0px; margin-bottom: 30px;padding:0;
            .modal-title {font-size: 25px;}
        }
        .modal-body{
            padding: 40px;
            .commonProfileImage{
                height:100px;width:100px;
                img{border-radius:35px;}
            }
            .msg{font-size: 18px;}
            .btnRow{
                margin-top: 30px;
                .btn{
                    min-width: 100px;
                    &:not(:last-child){margin-right: 10px;}
                }
            }
        }
        .close{
            width: 30px;height: 30px;color: color(500);opacity: 1;
            font-size:11px;@include transition(.3s);padding:0;margin: 0; 
            @include box-shadow(0, 3px, 6px, rgba(color(900), 0.16));text-shadow:none;
            background-color: color(50);top: -15px;right: -15px;z-index: 2;
            &:hover{color: color(50);background-color: color(500);}
            &:not(:disabled):not(.disabled):focus, 
            &:not(:disabled):not(.disabled):hover{opacity: 1;}
             @include media-breakpoint-down(xs){
                top:-10px;right:-10px;  
             }
        }
	}
    
    @media(max-width: 1599px){
        &__title{margin-bottom: 30px;} 
        .modal-content{
            .modal-body{padding:30px;}
        }
    }

    @include media-breakpoint-down(lg) {
        .modal-content{
            .modal-body{padding:20px;}
        }
    }

    @include media-breakpoint-down(sm) {
        &__title{font-size: 20px;margin-bottom: 20px;}
        .modal-content{
            .modal-body{
                padding: 15px;
                .commonProfileImage{
                    height:80px;width:80px;
                    img{border-radius:25px;} 
                }
                .msg{font-size: 15px;}
                .btnRow{
                    margin-top: 25px;
                    .btn{min-width:80px;}
                }
            }
        }
    }

}
