.commonModal{ position: relative;
    .modal-dialog{
        margin: 15px;min-height: calc(100% - 30px);border-radius: 20px; overflow: hidden;
        @include media-breakpoint-up(sm) {
            margin: 15px auto;
            &.modal-sm{max-width: 420px;}
        }
    }
    .modal-lg{max-width: 1040px;}
    &__title{font-size: 22px;margin-bottom: 40px;}
	.modal-content{
		border: 0;
		.modal-header {
            border: 0px; margin-bottom: 30px;padding:0;
            .modal-title {font-size: 25px;}
        }
        .modal-body{
            padding: 40px;
            .commonProfileImage{
                height:100px;width:100px;
                img{border-radius:35px;}
            }
            .msg{font-size: 18px;}
            .btnRow{
                margin-top: 30px;
                .btn{
                    min-width: 100px;
                    &:not(:last-child){margin-right: 10px;}
                }
            }
        }
        .close{
            width: 12px;height: 12px;color: color(850);opacity: 1;
            @include transition(.3s);padding:0;margin: 0; position: absolute;top: 10px;right: 20px;z-index: 9;
        }
	}
    
    @media(max-width: 1599px){
        &__title{margin-bottom: 30px;} 
        .modal-content{
            .modal-body{padding:30px;}
        }
    }

    @include media-breakpoint-down(lg) {
        .modal-content{
            .modal-body{padding:20px;}
        }
    }

    @include media-breakpoint-down(sm) {
        &__title{font-size: 20px;margin-bottom: 20px;}
        .modal-content{
            .modal-body{
                padding: 15px;
                .commonProfileImage{
                    height:80px;width:80px;
                    img{border-radius:25px;} 
                }
                .msg{font-size: 15px;}
                .btnRow{
                    margin-top: 25px;
                    .btn{min-width:80px;}
                }
            }
        }
    }

}
