.homePage{
    @import 'home-component/bannerSection';
    @import 'home-component/solutionsSection';
    @import 'home-component/featureSection';
    @import 'home-component/getintouchSection';
    @import 'home-component/echofriendlySection';
    @import 'home-component/peopleloveSection';

    .connectShrifo{
        background-color: #35379D;
        padding: 50px 0 75px;
        img{
            border-radius: 29px;
            overflow: hidden;
        }
        .item{
            padding: 0 25px;
        }
        .slick-dots{
            bottom: -70px;
            button{
                height: 12px;
                width: 12px;
                background-color: #979797;
                border-radius: 50%;
                margin: 0 auto;
                @include transition(0.3s);
                &::before{
                    display: none;
                }
            }
            .slick-active{
                button{
                    background-color: #FFF;
                    height: 17px;
                    width: 17px;
                }
            }
        }

    }

    .ourProduct{
        padding: 100px 0px 30px;
    }

    .howWork{
        background-image: url('#{$imageurl}/howwork_bg.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 250px 0px 50px;
        &_inner{
            max-width: 1346px;
            margin: 182px auto 50px;
        }
        &_box{
            text-align: center;
            p{
                font-size: 18px;
                margin:38px 0 30px;
                color:#36417C;
            }
            .btn{
                font-family: font(bd);
                font-size: 15px;
                color: #050E3E;
                text-transform: uppercase;
                max-width: 280px;
                margin: 0 auto;
                padding: 20px 15px;
                &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
                    color: color(50);
                }
            }
        }

      
     
    }
    
}