.fragrancesSection{
    &_bg{
        &::before{
            background-image: url(#{$imageurl}/banner-bg.png);position: absolute;top:0;
            left: 0;width: 100%;height: 100%;content: "";z-index: -1;border-radius: 24px;background-color: color(550);
            background-repeat: no-repeat;background-size: cover;background-position: center;
        }
    }
    &_inner{
        max-width: 840px;margin: 0 auto;border-radius: 24px;padding:80px 0;position: relative;
        z-index: 1;
        
        h3{
            font-size: 40px;line-height: 52px;font-weight: 500;letter-spacing: -0.02rem;color: color(850);
            margin-bottom: 30px;
        }
    }
}

.arrivalsSection{
    &_top{
        margin-bottom: 40px;
    }
}

.bestSellers{
    &_top{
        margin-bottom: 30px;
    }
    &_bg{ 
        position: relative;
        &::before{
            background-image: url(#{$imageurl}/best-seller-bg.png);position: absolute;top:0;
            left: 0;width: 100%;height: 100%;content: "";z-index: -1;border-radius: 24px;
        }
        .productCard{
            padding: 80px 0 50px;
            &_sliderSpace{padding-top: 0;}
            &_inner{
                width: 500px;height: 100%;background-color: #FEF9EC;margin-bottom:0;
                &:hover{
                    background-color: #FFF5DC;
                }
            }
            &_top{
                .centerImg{
                    margin-top: -55px;
                }
            }
            .viewProduct{
                padding: 0 35px;
                li{
                    &:not(:last-child){
                        margin-right: 108px;
                        &:after{
                            right: -54px;
                        }
                    }
                }
            }
            .addProduct{
                a{
                    display: flex; align-items: center;justify-content: center;
                    img{margin-left: 10px;}
                }
            }
        }
    }
}

.legacySection{
    position: relative;
    &::before{
        background-image: url(#{$imageurl}/legacy-bg.png);position: absolute;top:0;
        left: 0;width: 100%;height: 100%;content: "";z-index: -1;background-color: #A78A68;
        background-repeat: no-repeat;background-size: cover;
    }
    &_inner{
        max-width: 665px;margin: 0 auto;padding: 85px 0;
    }
    &_cnt{
        padding: 65px 70px;background-color: color(50);border-radius: 24px;
        .sectionHeading{margin-bottom: 15px;}
        p{
            font-size: 16px;line-height: 24px;margin-bottom: 30px;
        }
    }
}

.giftingSection{
    &_top{
        margin-bottom: 25px;
        .left{
            max-width: 660px;
            h3{margin-bottom: 8px;}
            p{font-size: 16px;line-height: 24px;color: color(850);}
        }
    }
}

.popularCategoriesSec{position: relative;
    &_bg{
        overflow: hidden;
        &::before{
            background-image: url(#{$imageurl}/popular-categories-img.png);position: absolute;top:0;
            left: 0;width: 100%;height: 100%;content: "";z-index: -1;background-color: color(550);
            background-repeat: no-repeat;background-size: cover;
        }
    }
    &_top{
        .popularImg{
            width: 100%;height: 400px;border-radius: 20px;overflow:hidden;@include transition(all 0.4s);
            img{width: 100%;height: 100%;object-fit: cover;transform: scale(1);@include transition(all 0.4s);}
            &_txt{
                position: absolute;top:50%;left: 50%;transform: translate(-50%, -50%);content: "";text-align:center;
                h3{font-size: 40px;line-height: 52px;font-style: italic;font-family: font(gmd);color: color(50)}
                ul{
                    margin-top: 125px;@include transition(all 0.4s);
                    li{
                        &:not(:last-child){margin-right: 24px;}
                        a{font-size: 20px;line-height: 28px;font-family: font(smd);color: color(50);white-space: nowrap;
                            font-weight: 500;position: relative;@include transition(all 0.4s);
                            &::after{
                                position: absolute;bottom: 0;left: 0;width: 0;height: 2px;background-color: color(50);
                                content: "";
                            }
                            &:hover{
                                &::after{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &_links{
                display: none;
            }
            &:hover{
                @include transition(all 0.4s);
                img{transform: scale(1.2); @include transition(all 0.4s);
                }
                .popularImg_txt{ @include transition(all 0.4s);
                    transform: translate(-50%, -50px);top:50px;left: 50%;
                    h3{font-size: 28px;}
                    
                }
                .popularImg_links{
                    display: block;
                }
            }
        }
    }
    &_bottom{
        &_top{
            margin-bottom: 30px;
        }
    }
}

.storySection{
    &_inner{ position: relative;border-radius: 24px;padding: 80px;
        &::before{
            background-image: url(#{$imageurl}/our-story-banner.png);position: absolute;top:0;
            left: 0;width: 100%;height: 100%;content: "";z-index: -1;background-color: color(900);
            background-repeat: no-repeat;background-size: cover;border-radius: 24px;
        }
    }
    &_txt{ max-width: 580px;
        h3{margin-bottom: 24px;}
        h6{font-size: 24px;line-height: 32px;font-family: font(gmd);color: color(850);margin-bottom: 24px;font-style: italic;
            letter-spacing: -1px;
            span{font-style: normal;}
        }
        P{font-size: 16px;line-height: 24px;color: color(850);margin-bottom: 30px;}
    }
}

.reviewSection{
    &_top{margin-bottom: 30px;}
    &_inner{ position: relative;border-radius: 24px;padding: 80px 0;margin-bottom: 20px;
        &::before{ 
            background-image: url(#{$imageurl}/review-bg.png);position: absolute;top:0;
            left: 0;width: 100%;height: 100%;content: "";z-index: -1;background-color: #E4D5C7;
            background-repeat: no-repeat;background-size: cover;border-radius: 24px;
        }
    }
    .reviewBox{
        width: 812px;height: 340px;margin: 0 auto;
        &_img{
            width: 340px;height: 340px;flex-shrink:0;
            img{width: 100%;height: 100%;object-fit: cover;}
        }
        &_txt{
            width: 464px;margin-left: 8px;
            h3{
                font-size: 32px;line-height: 32px;font-family: font(gmd);font-style: italic;margin-bottom: 16px;
            }
            P{
                font-size: 16px;margin-bottom: 24px;
            }
            .userInfo{
                border-top: 1px solid #C8C8C8;padding-top: 24px;
                &_img{
                    width: 56px;height: 56px;overflow: hidden;
                    img{width: 100%;height: 100%;object-fit: cover;}
                }
                &_txt{
                    margin-left: 16px;
                    h6{font-size: 16px;font-weight: 500;line-height: 24px;color: color(850);margin-bottom: 0;}
                    p{font-size: 14px;color: rgba(color(900),0.5);margin-bottom: 0;}
                }
                .rating{
                    li{ 
                        &:not(:last-child){
                            margin-right: 4px;
                        }
                        span{
                            color: color(500);font-size: 20px;width: 20px;height: 20px;
                        }
                    }
                }
            }
        }
    }
}

.pressMediaSec{
    .box{
        width: 316px;height: 400px;border-radius:16px;overflow: hidden;position: relative;margin-bottom:30px;
        &_bg{
            background-color: #F9F5F1;width: 100%;height: 100%;@include transition(all 0.4s);
        }
        &_logo{
            width: 190px;height: 190px;position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);@include transition(all 0.4s);
        }
        &_txt{
            display: none;@include transition(all 0.4s);height:100%;
            .top{
                padding: 24px;height:328px;
                h5{font-size: 20px;line-height: 28px;color: color(850);margin-bottom: 5px;font-family: font(srg);
                    font-weight: 700;
                }
                p{font-size: 16px;line-height: 24px;margin-bottom: 0;max-height: 244px;overflow: hidden;}
            }
            .bottom{ height: 72px;
                padding: 16px 24px;border-top: 1px solid rgba(color(500),0.1);display: flex; align-items: center;
            }
        }
        &:hover{
            .box_bg{
                background-color: #F3ECE3;
            }
            .box_logo{
                display: none;
            }
            .box_txt{
                display: block;
            }
        }
    }
}

.instagramSection{ overflow: hidden;
    .instabox{
        width: 316px;height: 316px;border-radius: 16px;overflow: hidden;position: relative;margin-bottom:30px;
        img{
            width: 100%;height: 100%;object-fit: cover;position: relative;
        }
        &_txt{
            position: absolute;height: 80px;top:-210px;left: 24px;right: 24px;margin: 0 auto;
            @include transition(all 0.4s);
            P{
                font-size: 14px;line-height: 20px;color: color(50);height: 50px;overflow: hidden;margin-bottom: 0;
                padding-bottom: 10px;border-bottom: 1px solid rgba(color(50),0.2);
            }
        }
        &_info{ padding-top: 10px;
            ul{
                li{
                    &:not(:last-child){margin-right: 16px;}
                    span{margin-left: 5px;}
                    a{color: color(50);font-size: 14px;}
                }
            }
        }
        .overlay{
            position: absolute;
            display: block;
            width: 100%;
            height: 0;
            left:0;
            top:0;
            // background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            opacity: 0;
            visibility: hidden;
            @include transition(all 0.4s);
        }
        &:hover{
            .instabox_txt{
                top:210px;
            }
            .overlay{
                opacity: 1;visibility: visible;height: 100%;
            }
        }
    }
}

.blogSection{position: relative;
    &_bg{
        overflow: hidden;
        &::before{
            background-image: url(#{$imageurl}/popular-categories-img.png);position: absolute;top:0;
            left: 0;width: 100%;height: 100%;content: "";z-index: -1;background-color: color(550);
            background-repeat: no-repeat;background-size: cover;
        }
    }
    &_top{
        margin-bottom: 50px;
    }
    .overlay{
        position: absolute;
        display: block;
        width: 100%;
        height: 0;
        left:0;
        top:0;
        // background: rgb(0,0,0);
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 1;
        visibility: visible;
        @include transition(all 0.4s);
    }
    .blogBox{ border-radius: 20px;overflow: hidden; position: relative;
        &-one{
            width: 500px;height: 375px;margin-top: 140px;
        }
        &-two{
            width: 780px;height: 530px;margin-bottom: 50px;
        }
        &-three{
            width: 660px;height: 380px;margin-left: 60px;
        }
        &-four{
            width: 500px;height: 515px;margin-right: 50px;
        }
        img{
            width: 100%;height: 100%;object-fit: cover;position: relative;
        }
        &_txt{ padding: 24px; position: absolute; bottom:0;left: 0;right: 0;
            span{font-size: 12px;line-height: 16px;text-transform: uppercase;color: rgba(color(50),0.6);margin-bottom: 10px;
                display: inline-block;
            }
            h3{
                font-size: 32px;line-height: 32px;margin-bottom: 15px;color: color(50);font-family: font(gmd);
            }
            p{
                font-size: 16px;line-height: 24px;color: rgba(color(50),0.7);margin-bottom: 0;
            }
            
        }
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #000 0%, rgba(0,0,0,0) 100%);
            content: "";
        }
    }
}