.productDetail{
  
    .productinfo{
        padding:50px 0px;
        h1{
            font-size: 43px;
            font-family: font(sb);
            margin-bottom: 29px;
        }
        &_price{
            font-size: 32px;
            font-family: font(sb);
            margin-bottom: 50px;
            color: #36417C;
        }
        .btn{
            padding: 17px 50px;
            font-size: 22px;
            font-family: font(bd);
            margin-bottom: 60px;
            text-transform: uppercase;
        }

        span {cursor:pointer; }
        .number{
            margin-bottom: 60px;
        }
      
        .tab-content{
            color: #313131;
            font-size: 22px;
        }

        @media(max-width:1599px){
            h1{
                font-size: 32px;
                margin-bottom: 20px;
            }
            &_price{
                font-size: 24px;
                margin-bottom: 30px;
            }
      
            .btn{
                padding: 10px 30px;
                font-size: 18px;
                margin-bottom: 40px;
            }
            .tab-content{
                font-size: 16px;
            }
        }
    }

    

}