.product{
    &_box{
        border:1px solid #EBEBEB;
        border-radius: 20px;
        padding: 10px 40px 40px;
        margin-bottom: 30px;
        .btn{
            font-size: 22px;
            font-family: font(bd);
        }
    }
    &_name{
        font-size: 26px;
        font-family: font(md);
        color:color(150);
        margin-bottom: 16px;
        display: block;
        @include transition(0.3s);
        &:hover{
            color:color(700 );
        }
    }
    &_price{
        color:#36417C;
        font-size: 33px;
        font-family: font(sb);
        margin-bottom: 27px;
    }
}
@include media-breakpoint-down(xl){
    .product{
        &_box{
            .btn{
                font-size: 16px;
                padding: 12px 25px;
            }
        }
        &_name{
            font-size: 20px;
        }
        &_price{
            font-size: 22px;
        }
    }
}
