.timelineBox{
    &__head{
       display:flex;position:relative; 
       .userInfo{
        .imgWrap{
          height:60px;width:60px;margin-right: 20px;position:relative;
          img{border-radius:20px;}
          .status{
            height:16px;width:16px;border:2px solid color(50);border-radius:50%;
            position:absolute;right:-1px;top:-1px;background-color:color(120); 
               &.online{
                background-color:#15D200; 
              }  
          }
        }
        .name{
          h3{font-size:24px;margin-bottom: 1px;} 
          span{font-size:18px;} 
        }
       }
        .postTime{
          font-size:18px;color:color(180);margin-right: 10px; 
          display:inline-block;vertical-align:super;margin-top: -5px;
        }  
    }
    &__body{
      padding:20px 0 0;  
     >p{  
        font-size:18px;color:color(180);
        a{color:rgba(color(500), 0.4);font-family:font(bd);}    
      }
      .imgList{
        .row{
          margin:0 -10px; 
          [class^="col"]{
            padding:0 10px;  
          }
          .colleft{
            max-width:62%;flex:0 0 62%;
          }
          .colright{
            max-width:38%;flex:0 0 38%;   
          }
          &.threeBox{
            [class^="col-"]{
              &:first-child{
              flex: 0 0 46.11%;  max-width: 46.11%;
              }
              &:nth-child(2){
                flex: 0 0 28.61%;max-width: 28.61%;
              }
              &:nth-child(3){
                flex: 0 0 25.28%;max-width: 25.28%;
              }
            }
          }
        }
        &__imgBox{
          position:relative;margin-top: 20px;  
          img{
            border-radius:5px;width:100%; 
          }
          .videoBtn{ 
            position: absolute;left: 50%;top: 50%; transform:translate(-50%,-50%); color:color(50); font-size:50px;
            &:hover{
              color:color(500);
            }
          }
          &.locked{
            overflow:hidden;
            img{-webkit-filter: blur(13px) !important;
              -moz-filter: blur(13px) !important; 
              -o-filter: blur(13px) !important; 
              -ms-filter: blur(13px) !important;
              filter: blur(13px) !important;}
          }
          // &.morePhotosBox{
          //   &:after{
          //     height:100%;width:100%;position:absolute;top:0;left:0;padding: 10px; 
          //     background-color:rgba(color(900), 0.1);border-radius:5px;
          //   }
          //   .morePhotoLink{
          //     @include absolutecenter(both);
          //     span{font-size:40px;color:color(50);}
          //   }
          // }
          .overlayBox{
            height:100%;width:100%;position:absolute;top:0;left:0;padding: 10px; 
            display:flex;background-color:rgba(color(900), 0.1);border-radius:5px;
            span{font-size:40px;color:color(50);}
            i{font-size:60px;color:color(50);display:inline-block;}
            p{font-size:16px;color:color(50);margin-top: 20px;}    
         }
         &:hover{
          .overlayBox{
            i{
              &.icon-ic-lock{
                &:before{content: "\e929";}
              }
            }
          }
         }
        }
      }
      
    }
    &__footer{
      .likeRow{
        margin:15px 0;  
        ul{
          li{
            font-size:20px;
            > a{
              color:color(160);display: flex;align-items: center;
              i{margin-right: 10px}
              &:hover,&.active,&[aria-expanded="true"]{
                color:color(600);
                i,span{color:color(600) !important;} 
              }
              &.tip, &.savePost,text{
                color:color(600);  
                i{color:color(600);}
              }
            }
            &:not(:last-child){
              margin-right: 20px;  
            }
          }
        } 
        &__right{
          li{
            a{
              margin-right: 0 !important; 
              i{margin-right: 10px;color:rgba(color(900), 0.5);@include transition(all 0.1s);}
              span{font-size:18px;}
              &:hover{
                i{
                  color:color(600); 
                }  
              }  
            }
          }
        }
      }
      // comment form
      .commentInputRow{
          position: relative; 
          .form-control{
            height:60px;border-radius:5px;padding:15px 130px 15px 20px;    
            &:focus{
              border-color:color(500);  
            }
          }
          .emoji-picker-icon{
            @include absolutecenter(y);right:107px; font-size:22px;color:color(160);
            opacity:1;z-index:1;  
            &:hover{
              color:color(600);
            }  
          }
          &__icon{
            position:absolute;right:20px;top:18px;  
            i{font-size:22px;}
            label{
              margin:0 20px;cursor:pointer;  
              i{
                color:color(160);@include transition(all 0.3s);
                &:hover{
                  color:color(600);  
                }  
              }
            } 
            .btn-light{
              padding:0px;color:color(500);@include transition(all 0.3s);
              &:hover{
                color:color(600);  
              } 
            } 
          }
      }

      // comment list
      .commentList{
        margin:20px 0;
        >li{
          display:flex;
          &:not(:last-child){
            margin-bottom: 20px; 
          }
        }
        &__imgWrap{
          height:40px;min-width:40px;position: relative;margin-right: 15px;
          max-width:40px;

          img{border-radius:14px;}
          .status{
            width:10px;height:10px;border:2px solid color(50);border-radius:50%;background-color:color(120);
            position: absolute;right:-1px;top:-1px;
            &.online{
              background-color:#15D200;
            }
          }
        }
        &__cnt{
          .comentText{
            background-color:rgba(color(500), 0.08);padding:10px 20px 5px;
            p{
              font-size:15px;line-height:21px;margin-bottom: 5px;
              color:color(900);  
            }
          }
          .likeSec{
            margin-top: 20px; 
            ul{
              li{
                font-size:18px;
                &:not(:last-child){
                  margin-right: 20px;  
                }
                a{
                  display:flex;color:color(900);align-items:center; 
                  i{margin-right:10px;color:color(160);@include transition(all 0.1s);}  
                  &.active,&:hover{
                    color:color(600);
                    i,span{color:color(600) !important;}
                  }
                }
              }
            }
            
          }
        }
      }
      // .commentSection{
      //   display:block !important;
      //   height: 0;overflow: hidden;
      //   @include transition(all 0.3s); 
      //   &.show{
      //     height:auto; 
      //   }
      // }
    }
    @media(max-width:1399px){
      &__head{
        .userInfo{
          .imgWrap{
            height:50px;width:50px;margin-right: 15px;
          }
          .name{
            h3{font-size:20px;}
            span{font-size:16px;} 
          }
        }
        .postTime{
            font-size:16px;margin-top: -2px;  
          }
      }
    }
    @include media-breakpoint-down(lg){
      &__head{
        .userInfo{
          .imgWrap{
            height:45px;width:45px;margin-right: 10px;
            img{border-radius:15px;}
          }
          .name{
            h3{font-size:18px;}
            span{font-size:15px;} 
          }
        }
        .postTime{
            font-size:15px;
          }
      }
      &__body{
        >p{font-size:16px;}
        .imgList{
           .row{
              margin:0 -7px;
              [class^="col"]{
                padding:0 7px;  
              }
            }
          &__imgBox{
            margin-top:15px;
            .overlayBox {
              i{font-size:50px;}  
              span{
                font-size:30px;
              }  
              p{font-size:15px;margin-top: 15px;}
            }
          }
        }
      }
      &__footer{
        .likeRow{
          margin:12px 0;
          ul{
            li{
              font-size:17px;  
            }
          }
          &__right{
            li{
               a {
                span{font-size:17px;} 
               }
            }
          }
        }
        .commentInputRow{
          .form-control{
            height:50px;padding:11px 105px 10px 15px; 
          }
          .emoji-picker-icon{
            right:83px;font-size:19px;  
          }
          &__icon{
            top:15px;right:15px;
            i{font-size:19px;}
            label{
              margin:0 15px; 
            }
          }
        }
         .commentList{
          &__cnt{
            .likeSec{
              margin-top: 15px; 
               ul{
                li{
                  font-size:16px; 
                }
               }
            }
          }
         }
      }
    }
    @include media-breakpoint-down(sm){
      &__head{
        .userInfo{
          .imgWrap{
            height:40px;width:40px;
            img{border-radius:12px;}
            .status{height:13px;width:13px;} 
          }
          .name{
            h3{font-size:17px;}
            span{font-size:14px;} 
          }
        }
        .postTime{
            font-size:14px;margin-right:5px; 
          }
      }
      &__body{
        padding-top: 10px;
        >p{font-size:14px;}
        .imgList{
           .row{
              margin:0 -5px;
              [class^="col"]{
                padding:0 5px;  
              }
            }
          &__imgBox{
            margin-top:10px;
            .videoBtn{
              font-size:35px; 
            } 
            .overlayBox {
              span{
                font-size:20px; 
              } 
              i{font-size:40px;}
              p{margin-top: 10px;}
            }
          }
        }
      }
      &__footer{
        .likeRow{
          margin:10px 0;
          ul{
            li{ 
              font-size:15px;
              > a{
                i{margin-right: 7px; }
              } 
              &:not(:last-child){
                margin-right: 10px;   
              } 
            }
          }
          &__right{
            li{
               a {
                i{margin-right: 7px;} 
                span{font-size:15px;}
               }
            }
          }
        }
        .commentInputRow{
          .form-control{
            height:45px;padding:11px 88px 8px 15px; 
            font-size:14px;  
          }
          .emoji-picker-icon{
            right:70px;font-size:17px;  
          }
          &__icon{
            i{font-size:17px;}
            label{
              margin:0 9px; 
            }
          }
        }
         .commentList{
          margin:15px 0;
          >li{
            &:not(:last-child){
              margin-bottom: 15px; 
            }
          }
          &__imgWrap{
            height:30px;min-width:30px;max-width:30px;
            margin-right: 10px;
            img{border-radius:7px;} 
          }
          &__cnt{
            .comentText{
              padding:10px 10px 5px; 
              p{font-size:14px;line-height:18px;}  
            }
            .likeSec{
              margin-top: 10px; 
               ul{
                li{
                  font-size:14px;
                  &:not(:last-child){
                    margin-right:10px;     
                  }
                  a{
                    i{margin-right: 7px;} 
                   }
                }
               }
            }
          }
         }
      }
    }
    @include media-breakpoint-down(xs){
      &__body{
        .imgList{
           .row{
            &.threeBox{
            [class^="col-"]{
              &:first-child{
              flex: 0 0 100%;  max-width: 100%;
              }
              &:nth-child(2){
                flex: 0 0 53%;max-width: 53%;
              }
              &:nth-child(3){
                flex: 0 0 47%;max-width: 47%;
              }
            }
           }
           }
          &__imgBox{
            .overlayBox{
              i{font-size:30px;}
              p{font-size:13px;}  
            }
          }
        }
      }
    }
    @media(max-width:479px){
     &__footer{
      &.profileTimelineFooter{
        .likeRow{
           flex-wrap:wrap;
           &__right{
            width:100%;margin-top: 8px;  
            li{
              &:not(:last-child){
                margin-right: 9px;
              }
              span{font-size:14px;}
            }
           }
        }
      }
     }
    }
     @media(max-width:400px){
      &__head{
          display:block; 
          .dropdown{
            position: absolute;top: 0;right: 0;  
          }
          .postTime{
            margin: 5px 0 0 51px !important;  
          }
      }
      &__body{
        padding-top: 5px;   
      }
     }
}