.container {
 
  @media(min-width:1200px) {
    max-width: 1180px;
  }
  @media(min-width:1400px) {
    max-width: 1390px;
  }
  @media(min-width:1600px) {
    max-width: 1480px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 100%;
  }
  &-fluid{
    padding: 0 30px;
  }
}
// .slick-slide{
//   margin: 0 16px;
// }
// .slick-track{
//   margin: 0 -16px;
// }
.sliderIcon{
  &.slick-dotted{
    margin-bottom: 0 !important;
  }
  .slick-arrow{
    width: 48px;height: 48px;border: none;border-radius: 50%;display: flex;
    align-items: center; justify-content: center;background-color: rgba(color(850),1);color: color(50);
    &.slick-disabled{
      background-color: rgba(color(850),0.5)
    }
    &:hover{background-color: rgba(color(850),1);}
  }
  .slick-prev{z-index: 1}
  .slick-next{z-index: 1}
  .slick-prev:before{
    content: "\e903";font-family: 'icomoon';font-size: 16px;opacity: 1;
  }
  .slick-next:before{
    content: "\e902" !important;font-family: 'icomoon';font-size: 16px;opacity: 1;
  }
  .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
    opacity: 0.5;
  }
  .slick-dots{
    bottom: -5px;padding:0;
    li{
      width: 30px;height: 4px;background-color: rgba(color(850),0.1);border-radius:4px;
      &:not(:last-child){margin-right: 8px;}
      &.slick-active{
        background-color: color(850);
      }
      button{height: 0;padding:0;width: 0;
        &::before{display: none;}
      }
    }
  }
}
