.bannerSection{
    
    &_left{
        padding-top: 80px;
    }
    h1{
        font-size: 72px;
        font-family: font(grg);
        span{
            font-style: italic;
        }
    }
    p{
        margin-bottom: 23px;
    }
    &_productBox{
        text-align: center;
        p{
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.04em;
            margin-bottom: 5px;
        }
        h2{
            font-size: 28px;
            font-family: font(gmd);
            font-weight: 500;
            font-style: italic;
        }
        &_price{
            font-size: 20px;
            color: color(500);
            letter-spacing: -0.02em;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .bannerSlider{
        &_item{
            background-repeat: no-repeat;
            min-height: 810px;
            padding-top: 182px;
        }
        &_item--1{
            background-color: #F9F5F1;
            background-image: url('../images/banner.png');
        }
        &_item--2{
            background-image: url('../images/banner_2.png');
            background-color: #F8F1F1;
        }
        &_item--3{
            background-image: url('../images/banner_3.png');
            background-color: #FFF7EB;
        }
       
    }

    .slick-dots{
        bottom: 24px;
        li{
            width: 84px;
            height: 8px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            &.slick-active{
                background-color: #CCAA70;
            }
        }
        button{
            &:before{
                display: none;
            }
        }
    }

    .slick-arrow{
        width: 70px;
        height: 70px;
        &:after, &:before{
            display: none;
        }
        &.slick-next{
            right: 100px;
        }
        .slick-prev{
            left: 0;
        }
    }
}