.feature{
    padding: 80px 0;
    .nav-tabs{
        margin-bottom: 84px;
        border: none;
    }
    .nav-link{
        padding: 0px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        font-family: font(sb);
    
        &.active{
            color: #FF0045;
            img{
                border-color: #27E6DD;
            }
            background-size: 100%;
            .nav-img{
                &_1{
                    background-image: url('#{$imageurl}/share_info_active.png');
                }
                &_2{
                    background-image: url('#{$imageurl}/capture_lead_active.png');
                }
                &_3{
                    background-image: url('#{$imageurl}/grow_faster_active.png');
                }
                &_4{
                    background-image: url('#{$imageurl}/share_info_active.png');
                }
            }
        }
        & > .nav-img{
            height: 170px;
            width: 300px;
            display: block;
            background-repeat: no-repeat;
            background-size: 100%;
            &_1{
                background-image: url('#{$imageurl}/share_info.png');
            }
            &_2{
                background-image: url('#{$imageurl}/capture_lead.png');
            }
            &_3{
                background-image: url('#{$imageurl}/grow_faster.png');
            }
            &_4{
                background-image: url('#{$imageurl}/share_info.png');
            }
        }
        @include media-breakpoint-down(xl){
            font-size: 16px;
            span{
                margin-top: 5px;
            }
            img{
                max-height: 170px;
            }
        }
    }
    .growFaster{
        &_left{
            max-width: 660px;

            ul{
                li{
                   &:not(:last-child){
                     margin-bottom: 45px;
                   }
                }
                h4{
                    font-size: 30px;
                    font-family: font(sb);
                    color: #36417C;
                }
                p{
                    font-size: 16px;
                    color: #4B4B4B;
                }
            }
          
        }
        &_icon{
            margin-right: 39px;
            flex: 0 0 99px;
            max-width: 99px;
        }
    }

    .btn_img{
        margin-top: 40px;
    }

    @include media-breakpoint-down(lg){
        padding: 50px 0px;
        .nav-link{
            font-size: 14px;
            & > .nav-img{
                height: 108px;
                width: 219px;
            }
        }
        .nav-tabs{
            margin-bottom: 60px;
        }

        .growFaster{
            &_icon{
                flex: 0 0 80px;
                max-width: 80px;
                margin-right: 25px;
            }
            &_left{
                ul{
                    h4{
                        font-size: 22px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}