.solutions{
    padding: 100px 0px;
    background-image: url('#{$imageurl}/blue_line.png');
    background-repeat: no-repeat;
    .container{
        .row{
            padding: 0 145px;
        }
    }
    &_left{
        max-width: 630px; 
        h2{
            font-size: 70px;
            font-family: font(bk);
            line-height: 90px;
            margin-bottom: 0px;
         
        }
        .everyTeam{
            font-size: 56px;
            color: #00D199;
            line-height: 52px;
        }
        p{
            color: #4B4B4B;
            font-family: font(lt);
            font-size: 18px;
            margin-top: 34px;
        }
    }
    &_right{
        padding-left: 70px;
        li{
           &:not(:last-child){
             margin-bottom: 45px;
           }
        }
        h4{
            font-size: 30px;
            font-family: font(bd);
        }
        p{
            font-size: 24px;
        }
    }
    &_icon{
        margin-right: 39px;
        flex: 0 0 99px;
    }
    
    @media(max-width:1599px){
        background-size: 18%;
        &_icon{
            margin-right: 20px;
            flex: 0 0 80px;
        }
        &_left{
            h2{
                font-size: 48px;
                line-height: 60px;
                img{
                    width: 42px;
                }
            }
            .everyTeam{
                font-size: 48px;
            }
            p{
                font-size: 16px;
            }
        }
        &_right{
            h4{
                font-size: 24px;
            }
            p{
                font-size: 18px;
            }
        }
    }

    @include media-breakpoint-down(lg){
        padding: 60px 0px;
        .container{
            .row{
                padding: 0 94px;
            }
        }
        &_left{
            h2{
                font-size: 33px;
                line-height: 49px;
            }
            .everyTeam{
                font-size: 33px;
            }
            p{
                margin-top: 10px;
            }
        }
        &_icon{
            flex: 0 0 70px;
        }
        &_right{
            padding-left: 40px;
            h4{
                font-size: 22px;
            }
            p{
                font-size: 16px;
            }
        }
    }
  
}