body{
    font-family: font(rg);font-size:14px;color: color(900);
    // background-color: #F6F7F8;
    &.innerPage{padding-top: 90px;}
    @media(max-width: 1399px){
    	&.innerPage{padding-top: 80px;}
    }
    @include media-breakpoint-down(lg) {
    	&.innerPage{padding-top: 70px;}
    }
    @include media-breakpoint-down(md) {
    	&.innerPage{padding-top: 62px;}
    }
    @include media-breakpoint-down(xs) {
        &.innerPage{padding-top: 54px;}
    }
}

a{
    &:hover{text-decoration: none;}
}

:focus{outline: 0 !important;}

